#header {
    background: yellow;
    padding: 15px;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

th {
    font-weight: bold;
    font-size: 24px;
}

#trainTableDiv, #addTrainFormDiv {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border: black, solid, 5px;
}

#trainTable, #addTrainForm {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 10px;
    line-height: 24px;
}